
<div class='title'>
  <h3>Help</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <p>For the most part, web Improviz should work like you expect from the Native version. Check the <a href="https://improviz.rumblesan.com">Improviz site</a> for the full documentation.</p>
  </section>

  <section>
    <h4>Evaluating Code</h4>
    <p>There are two ways to evaluate code in web Improviz. Either click the <em>Evaluate</em> button in the toolbar, or press the <em>Control</em> and <em>Enter</em> keys together.</p>
  </section>

  <section>
    <h4>New Things</h4>
    <p>The web version has a few things that the native version of Improviz currently doesn't offer</p>
    <ul>
      <li>Running on the web makes it much easier to have a built in editor, so now useful things like error messages can be displayed</li>
      <li>Programs can be shared via a URL. Have a look in the <em>Sharing</em> menu.</li>
    </ul>
  </section>

  <section>
    <h4>Differences</h4>
    <p>There are currently a few differences between the native version of Improviz and the web version. A lot of these will get addressed as more work is done on it, but some are possible changes to the language so may stay.</p>
    <ul>
      <li>Loops require the keyword <em>loop</em> before the loop number expression</li>
      <li>It's not yet possible to load custom textures, geometries or materials</li>
    </ul>
  </section>

</div>
