
<div class='title'>
  <h3>Sharing</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <h4>URL Sharing</h4>
    <p>Improviz programs can be shared by encoding the program into the URL</p>
    <a href="{{programSharingURL}}">Program Sharing URL</a>
  </section>

</div>
