<div class='title'>
  <h3>Settings</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <p>
      This is where all the available settings for Improviz can be changed.
    </p>
  </section>

  <section>
    <label for="keymap">Keymap:
    <select name="keymap">
      {{#each keymaps}}
        <option name="{{this.name}}" {{#if this.selected}}selected{{/if}} value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
    </label>

    <br />

    <label for="lineNumbers">Line Numbers:
      <input type="checkbox" {{#if lineNumbers }}checked{{/if}} name="lineNumbers" >
    </label>

    <br />

    <label for="performanceMode">Performance Mode:
      <input type="checkbox" {{#if performanceMode }}checked{{/if}} name="performanceMode" >
    </label>
    <p>Enabling performance mode will hide the header bar so that there can be more canvas visible</p>
  </section>

  <section>
    <h4>Clear Settings</h4>
    <p>Settings are stored in the browser's local storage so it can be remembered between reloads, but sometimes there are issues. If things get a bit weird, then try clearing the settings here.</p>
    <button type="button" name="clear">Clear!</button>
  </section>

</div>
