<div class='title'>
  <h3>Textures</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <h4>Loaded Textures</h4>
    <ul id="textureList">
      {{#each textures}}
      <li><button type="button" class='close' name="{{this.name}}">X</button> - <a href="{{this.url}}" target="_blank">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </section>

  <section>
    <h4>Upload a file</h4>
    <form id="imageUpload">
      <label for="name">Name: <input type="text" name="name"></label>
      <br />
      <label for="name">URL: <input type="file" name="image" accept="image/png, image/jpg"></label>
      <br />
      <input type="submit" value="Load"/>
    </form>
  </section>

  <section>
    <h4>Load from URL</h4>
    <form id="addTexture">
      <label for="name">Name: <input type="text" name="name"></label>
      <br />
      <label for="name">URL: <input type="text" name="url"></label>
      <br />
      <input type="submit" value="Load"/>
    </form>
  </section>

</div>
