<div class='title'>
  <h3>Textures</h3>
  <button id='popup-close' class='close'>Close</button>
</div>
<hr />
<div class='content'>

  <section>
    <h4>Available Textures</h4>
    <ul id="textureList">
      {{#each textures}}
      <li><a href="{{this.url}}" target="_blank">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </section>

  <section>
    <p>
      Upload a file
    </p>
    <form id="imageUpload">
      <label for="name">Name: <input type="text" name="name"></label>
      <label for="name">Name: <input type="file" name="image" accept="image/png, image/jpg"></label>
      <br />
      <input type="submit" />
    </form>
  </section>

  <section>
    <p>
      Add a custom texture from a URL
    </p>
    <form id="addTexture">
      <label for="name">Name: <input type="text" name="name"></label>
      <label for="name">URL: <input type="text" name="url"></label>
      <input type="submit" />
    </form>
  </section>

</div>
