@use 'solarized';
@use 'nav';
@use 'improviz-theme';
@use 'popups';
@use 'noscript';
@use 'util';
@use 'layout';

$text-background-color: solarized.$base03;

.cm-s-improviz {

  &.CodeMirror {
    background: transparent;
  }

  /* Specifically only make the first child
   * span background translucent otherwise
   * there are wierd bugs with highlighted
   * code backgrounds
   * */
  &.CodeMirror .CodeMirror-line > span {
    background-color: rgba($text-background-color, 0.8);
  }

  .CodeMirror-selected {
    background-color: solarized.$base01;
  }

  .CodeMirror-gutters {
    background: transparent;
    border-right: 0;
  }
}

/* Styling */

body {
  background-color: solarized.$base03;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
}

header {
  color: solarized.$base0;
  background-color: solarized.$base02;
}

a {
  color: solarized.$violet;
}

button {
  color: solarized.$green;
  border: 1px solid solarized.$green;
  background-color: solarized.$base02;
  border-radius: 3px;
}

button:hover {
  color: solarized.$base02;
  background-color: solarized.$blue;
}


.CodeMirror {
  font-size: 1.125rem;
}
/** Performance mode
 *  Hide the header so we get more canvas.
 */

.performance-mode header {
  visibility: hidden;
}

.performance-mode header #display-settings {
  visibility: visible;
}
